In [17]:
import csv
import pandas as pd

In [9]:
from pandas import DataFrame
df1 = DataFrame.from_csv("C:/Users/Doug/Documents/GitHub/MinorityVariants/inputs/input1.tsv",header=None, sep="\t")
df2 = DataFrame.from_csv("C:/Users/Doug/Documents/GitHub/MinorityVariants/inputs/input2.tsv",header=None, sep="\t")

In [19]:
df1.head()

     1   2         3    4
0
789  A  19  0.000214  109
789  C   7  0.000125   53
789  A  27  0.243946   44
789  A  29  0.243946   30
789  A  25  0.000016  141

In [11]:
df2.head()

     1   2         3   4
0
789  A  23  0.321151  80
789  A  26  0.000245  54
789  A  30  0.321151  96
789  A  17  0.000999  54
789  A  27  0.000494  41

In [12]:
df_loc = DataFrame.from_csv("C:/Users/Doug/Documents/GitHub/MinorityVariants/inputs/locations.tsv",header=None, sep="\t")

In [14]:
df_loc.head()

     1      2
0
789  A  100.0
790  T  100.0
794  T  100.0
795  G  100.0
797  G  100.0

In [15]:
len(df_loc)

1356

In [16]:
len(df1)

8263278

In [20]:
#NEXT STEPS
# if I'm understanding the problem correctly....
# join locations to input datasets
# identify the surely fake reads where frequecy is 100% and and the nucleotide is not the same as in df_loc
# identify the the minority reads where the nucleotide matches the nucleotide in df_loc

In [21]:
#concatenate all inputs
all_inputs = pd.concat([df1, df2])

In [24]:
#join location columns to full inputs
full_set = pd.merge(all_inputs, df_loc, right_index=True, left_index=True)

In [25]:
full_set.head()

    1_x  2_x         3    4 1_y    2_y
0
789   A   19  0.000214  109   A  100.0
789   C    7  0.000125   53   A  100.0
789   A   27  0.243946   44   A  100.0
789   A   29  0.243946   30   A  100.0
789   A   25  0.000016  141   A  100.0

In [26]:
# yep, 16 million rows
len(full_set)

16551473

In [ ]:
# bad read = where 2_y == 100 and 1_x is not 1_y 
bad_read = []
for i in range(len(full_set)):
    if (full_set['2_y'][i] == 100 and full_set['1_x'][i] != full_set['1_y'][i]):
        bad_read.append(1) 
    else:
        bad_read.append(0)

In [ ]:
full_set['bad_read']=bad_read

In [ ]:
# Okay, ran out of time reading about genomic stuff
# But here are the next steps, focusing just on predicting bad reads

# split into test and train
# Use dmatrices to design the training data matrix
# build a classifer (probably random forest) to predict the bad runs